langchain
langchain-core
langchain-ollama
langchain-chroma
chromadb
unstructured[pdf]
pytesseract
Pillow
python-magic-bin



# System Dependencies
# Poppler (pdfinfo, pdftoppm)
# Tesseract
# Ollama Models
